@import url('background.css');

.home,
.projects,
.blog,
.warning_container {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.home.fade-in,
.projects.fade-in,
.blog.fade-in,
.warning_container.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.home.fade-out,
.projects.fade-out,
.blog.fade-out,
.warning_container.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.home.fade-out__after-load,
.projects.fade-out__after-load,
.blog.fade-out__after-load {
  opacity: 0;
  transition: opacity 0.5s ease;
}
