@import url('background.css');

.home_container,
.projects_container,
.warning_container,
.blog,
/* -- BREAKPOINT --  */
.home_container.fade-out,
.projects_container.fade-out, 
.warning_container.fade-out,
.blog.fade-out{
  opacity: 0;
  transition: opacity 0.5s ease;
}

.home_container.fade-in,
.projects_container.fade-in,
.warning_container.fade-in,
.blog.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease;
}
