/*
* Mobile adjustments
* I got the basics down for now, but things are most definitly subject to change.
*/

@media (max-width: 991px) {
    html {
        font-size: 55%;
    }

    section {
        padding: 5rem 3%;
    }

    .home {
        flex-direction: column-reverse;
        gap: 3rem;
    }

    .home-img img {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 50px;
        width: 70%;
    }

    .home .content h1 {
        font-size: 5rem;
    }

    .content h3 {
        font-size: 3rem;
    }

    nav a {
        margin-left: 2rem;
    }
}

@media (max-width: 768px) {
    header {
        background-color: rgba(0, 0, 128, 0.8);
    }

    nav a {
        font-size: 1.6rem;
    }

    .home-img img {
        padding-left: 50px;
        width: 80%;
    }

    .anim-container {
        flex-direction: column;
    }

    .anim-project {
        max-width: 100%; 
    }
}

@media (max-width: 600px) {
    html {
        font-size: 50%;
    }

    nav a {
        margin-left: 1rem;
    }

    .home .content h1 {
        font-size: 4rem;
    }

    .content h3 {
        font-size: 2.5rem;
    }

    .social-icons a{
        margin: 2rem 1rem 2rem 0;
    }

    header {
        position: fixed;
        bottom: 0;
        top: auto;
        width: 100%;
        padding: 1rem 3%;
        background-color: rgba(0, 0, 128, 0.8);
    }

    header nav {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    header .logo {
        display: none;
    }

    nav a {
        margin-left: 0;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 45%;
    }

    nav a {
        font-size: 1.4rem;
    }
    .home-img img {
        padding-left: 50px;
        width: 90%;
    }
}

@media (max-width: 365px) {
    html {
        font-size: 40%;
    }
    nav a {
        font-size: 1.2rem;
    }
}